@charset "UTF-8";

body {
  font-family: -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #ffffff;
}

.bg-primary {
  background-color: #0d1117 !important;
}

.bg-secondary {
  background-color: #13171b !important;
}

.my-header {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.page-section {
  padding: 6rem;
}
