body {
  display: flex; /* Use Flexbox                    */
}
.ball {
  width: 80%;
  height: 80%;
  border-radius: 50%; /* Turns a square into a circle   */
  position: absolute;
}
.svg-container {
  position: absolute;
  
  width: 80%;
  height: 80%;
  top: 100px;
}
.svg-containerRandom {
  position: absolute;
  
  width: 80%;
  height: 80%;
  top: 160px;
}
.h1{
  position: absolute;
  padding: 10px;
  margin: 10px;
  top: 0px;
  box-sizing: border-box;
}
.div{
  position: absolute;
  padding: 10px;
  margin: 10px;
  top: 40px;
}